<h1 class="title">
    {{ myTitle }}
</h1>
<p appHighlight>Highlight me!</p>
<ul *ngIf="myList.length">
    <li *ngFor="let elem of myList">{{elem}}</li>
</ul>
<button (click)="addToList()">Add</button>
<button (click)="buttonClicked()">Click</button>
<hr>
<form (ngSubmit)="onSubmit()" #f="ngForm">
    <input type="text" ngModel name="username" required>
    <input type="email" ngModel name="email" email>
    <button [disabled]="!f.valid">Login</button>
</form>
<h3>Two way binding</h3>
<input type="text" [(ngModel)]="name" />
<input type="text" [(ngModel)]="name" />

<p>
    Custom pipe sample: {{ 2 | exponentialStrength:10 }}
</p>